* {
    margin: 0;
    padding: 10;
    font-size: 23px;
    color: grey;
}

body {
    font-family: Poppins, sans-serif;
}

.bannerPic {
    background: url('./Files/bannerpictureCrop.JPG') no-repeat center center;
    width: 100%;
    height: auto;
}

.about {
    text-align: center;
    margin-top: 150px;
}

.about p {
    color: grey;
}

.skills a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.skills {
    text-align: center;
}

.skills-list li {
    list-style-type: circle;
    list-style-position: inside;
}

.fa {
    padding: 12px; /* Reduced padding */
    font-size: 23px; /* Reduced font size */
    width: 40px; /* Adjusted width */
    text-align: center;
    text-decoration: none;
}

  .fa-linkedin {
    margin-bottom: 5px;
  }

  .social {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
  }

  .social p {
    margin-top: 25px;
    font-size: 15px;
    display: none;
  }
