* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
}

.bannerPic img {
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
}

#rightHalf {
    width: 48%;
    position: absolute;
    right: 0px;
}

.about {
    padding-left: 50%;
    text-align: center;
    background-attachment: scroll;
}

.about p {
    color: grey;
    font-size: 29px;
    position: relative;
    top: -650px;
}

.about a {
    font-size: 29px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    position: relative;
    top: -620px;
}

