/* Stylesheet for desktop screens */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.bannerPic {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background: url('./Files/bannerpicture.JPG') no-repeat center center;
    background-size: cover;
}

#rightHalf {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Stylesheet for mobile screens */
@media screen and (max-width: 844px) {
    .bannerPic {
        position: relative;
        width: 100%;
        height: 300px;
    }

    #rightHalf {
        position: relative;
        width: 100%;
    }
}
